@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center">
        <h2>İşlem Seçin</h2>
        <div class="mt-4">
            <!-- Web Siteleri Butonu -->
            <a asp-action="WebSite" asp-controller="WebSite" class="btn btn-primary btn-lg mx-2">Web Siteleri</a>
            <!-- Test Uygulamaları Butonu -->
            <a asp-action="GetTask" asp-controller="Task" class="btn btn-secondary btn-lg mx-2">Test Uygulamaları</a>
        </div>
    </div>
</div>
